.aptitudes {
  min-height: 60vh;
  padding: 20px 0;
  box-sizing: border-box,;
  background-color: var(--body-fg);
  border-radius: 50px;
  &_header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    height: 60px;
  }
  &_title {
    margin: 0 84px 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 70px;
  }
  &_bar {
    width: 50px;
    height: 7px;
    background: var(--decor);
    position: absolute;
    margin: 15px 50px 0 0;

    border-radius: 5px;
    animation: bar 3s ease-in-out 2s infinite alternate-reverse;
  }
  &_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    margin: 50px 3%;
    gap: 15px;
  }

  &_container {
    background-color: var(--decor);
    width: 100%;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px;
    &_bar {
      height: 9px;
      width: 69px;
      border-radius: 18px;
      background-color:  var(--accent);
      margin-bottom: 15px;
    }
  }
  &_emoji {
    width: 59px;
    height: 59px;
  }

  &_text {
    color: var( --text-alternative);
    font-size: 1.1rem;
    letter-spacing: 0.22px;
    text-align: center;
    width: 90%;
  }
  @media (max-width: 980px) {
    &_header {
      align-items: center;
    }
    &_title{
      margin: 0;
    }
  }
}
.blob-1 {
  border-radius: 30% 70% 32% 39% / 60% 40% 61% 42%;
}
.blob-2 {
  border-radius: 68% 40% 39% 70% / 80% 45% 70% 40%;
}
