<section class="presentation">
  <div class="presentation_message">
    <img src="../../assets/images/HOLA.png" alt="hello-image" class="presentation_hello-image" />
    <div class="presentation_text">
      Soy
      <span class="presentation_text-bold">Diego Catalán</span> estudiante de
      Ingeniería Civil Informática, programador frontend y con meta de llegar
      a dominar el fullstack.
    </div>
    <div class="presentation_bar"></div>
  </div>
  <div class="presentation_circle">
    <img src="../../assets/images/perfil_sin_fondo.png" alt="profile-image" class="presentation_profile-picture" />
  </div>

</section>