*,
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

#app {
  background: var(--body-bg);
  letter-spacing: 0.24px;
  color: var(--text-color);
  font-family: $font-family;
  font-size: 1.5rem;
}
button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.flex-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title {
  font-weight: 800;
  color: var(--accent);
  letter-spacing: 0.56px;
  font-size: 3rem;
}
.input-container{
  padding: 5px 15px;
  border: 3px solid var(--accent);
  border-radius: 20px;
  margin-top: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--body-fg);  
  height: 50px;
}
.input{
  background: transparent;
  border: none;
  outline: none;
  color:var(--text-color);
  height: 100px;
  font-size: 1.1rem;
  z-index: 2;
}
.label{
  transform-origin: 0 0;
  position: absolute;
  z-index: 1;
  transition: all .1s ease-in-out;
  font-size: 1.1rem;
  height: fit-content;
}
.input:focus + .label,
.input:not(:placeholder-shown) + .label
{
  transform: translate(-10px,-35px);
  color: var(--decor);
  font-size: 0.9rem;
}
.input::placeholder {
  color: transparent !important;
  user-select: none !important;
  }