*,
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

#app {
  background: var(--body-bg);
  letter-spacing: 0.24px;
  color: var(--text-color);
  font-family: $font-family;
  font-size: 1.5rem;
}
button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.flex-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title {
  font-weight: 800;
  color: var(--accent);
  letter-spacing: 0.56px;
  font-size: 3rem;
}
