*,
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#app {
  background: var(--body-bg);
  letter-spacing: 0.24px;
  color: var(--text-color);
  font-family: $font-family;
  font-size: 1.5rem;
}
button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.flex-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title {
  font-weight: 800;
  color: var(--accent);
  letter-spacing: 0.56px;
  font-size: 3rem;
}
.input-container{
  padding: 5px 15px;
  border: 3px solid var(--accent);
  border-radius: 20px;
  margin-top: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--body-fg);  
  height: 50px;
}
.input{
  background: transparent;
  border: none;
  outline: none;
  color:var(--text-color);

}


.input::placeholder {
  color: transparent !important;
  user-select: none !important;
  }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill{
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}