

$main-background: #ECE9F3;
$btn-bg: #8753de;
$btn-border: #8753de;
$btn-font: #fff;
$btn-hover: #6929d5;
$btn-border-hover: #6929d5;
$bg-1: #fff;
$btn-bg-disabled: #EEEEEE;
$btn-font-disabled: #000000;
$font-principal: 'Roboto', sans-serif;