$font-family: 'lato','Roboto', sans-serif;
$blue: #023047;
$dark-blue: #012030;
$light-blue: #7BCCE9;
$white: #fff;
$grey: #707070;
$black: #020202;

:root{
    --transition: background-color .5s;
    --body-bg: #{$white};
    --body-fg: #{$white};
    --accent: #{$light-blue};
    --link-color: #{$light-blue};
    --text-color: #{$dark-blue};
    --text-alternative:#{$blue};
    --decor:#{$light-blue};
  
    @media (prefers-color-scheme: dark) {
    
        --body-bg: #{$blue};
        --body-fg: #{$dark-blue};
        --accent: #{$light-blue};
        --link-color: #{$light-blue};
        --text-color: #{$white};
        --text-alternative:#{$grey};
        --decor:#{$white};
    }
    
};
:root.light {
    --body-bg: #{$white};
    --body-fg: #{$white};
    --accent: #{$light-blue};
    --link-color: #{$light-blue};
    --text-color: #{$dark-blue};
    --text-alternative:#{$blue};
    --decor:#{$light-blue};
}
:root.dark{
    --body-bg: #{$blue};
    --body-fg: #{$dark-blue};
    --accent: #{$light-blue};
    --link-color: #{$light-blue};
    --text-color: #{$white};
    --text-alternative:#{$grey};
    --decor:#{$white};
}
* {
    transition: var(--transition);
  }
  



