<section class="proyect-details">
  <div>
    <button class="proyect-details_close" @click="handleClose"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <h1 class="proyect-details_title">{{proyect.title}}</h1>
  <p class="proyect-details_description"> {{proyect.description}}</p>
  <img :src="imagesUrl[0]" alt="imagen" class="proyect-details_image">
  <div class="proyect-details_container">
    <div class="proyect-details_tecnologys">
      <h3 class="proyect-details_subtitle">Tecnologías</h3>
      <div class="proyect-details_stack-container">
        <img v-for="(item, index) in proyect.stack" :key="index" :src="getImgUrl(item)" :alt="item"
          class="proyect-details_icon">
      </div>
    </div>
    <div class="proyect-details_links">
      <a v-if="isGithubAvailabe" :href="proyect.github">
        <img v-if="isGithubAvailabe" src="@/assets/icons/github.svg" class="proyect-details_link-icon">
      </a>
      <a v-if="isOnlineAvailabe" :href="proyect.online">
        <img src="@/assets/icons/link.svg" class="proyect-details_link-icon">
      </a>

    </div>
  </div>
</section>