<section class="navbar">
  <div class="navbar-top-bar nav"></div>
  <div class="navbar-left-bar">
    <button class="navbar-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="39.954" height="24.704" viewBox="0 0 39.954 24.704">
        <path id="ic_menu_24px" d="M14.874,30.7H39V26.087H14.874ZM-.955,20.161H39V15.543H-.955ZM6.961,6v4.617H39V6Z" transform="translate(0.955 -6)" fill="#7bcce9"/>
      </svg>
      <div class="navbar-button-text"> MENÚ</div>
      
    </button>
    
  </div>

  <div class="navbar-right-bar"></div>
</section>
