.navbar {
  background-color: var(--decor);
  position: fixed;
  height: 60px;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "left center right";
  opacity: .95;

  &_links {
    grid-area: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
  }
  &_link{
    color: var(--body-bg);
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &_link{
    font-size: 1rem;
  }
  &_link-icon{
    font-size: 1.4rem;
  }
  &_social-media{
    grid-area: right;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: var(--body-bg);
  }
  &_color-scheme{
    font-size: 2rem;
    color: var(--body-bg)
  }
}
