.navbar {
  &-top-bar,
  &-left-bar,
  &-right-bar {
    background-color: $text-color;
    position: fixed;
  }
  &-top-bar{
    height: 40px;
    width: 100vw;
  }
  &-left-bar,
  &-right-bar {
    height: 100vh;
    width: 61px;
  }
  &-bottom-bar {
    bottom: 0;
  }
  &-right-bar {
    right: 0;
  }
  &-left-bar{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  &-button{
      position: fixed;
      display: flex;
      flex-direction: column;
      height: 80px;
      align-items: center;
      transition: all 1s ease-in-out;
      gap: 10px;
      &-text{
        font-size: 1rem;
        color:$accent-color
        
      }
  }
  &-button:hover{
    text-decoration: solid 1px $accent-color;
  }

}
