.proyect-card {
    width: 100%;
    height: 100%;
    background-color: var(--body-fg);
    box-sizing: border-box;
    padding: 25px 20px 30px;
    border-radius: 10px;
    border: 3px var(--accent) solid;
    cursor: pointer;
    max-width: 500px;

    &_title {
        margin: 20px 0 10px;
        font-size: 1.8rem;
    }
    &_subtitle {
        font-size: 1rem;
        color: var(--text-alternative);
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 80px;
    }
    &_thumbnail {
        width: 85%;
        transition: all 1s ease-in-out;
        
        &_container {
            background-color: $dark-blue;
            height: 180px;
            min-height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px ;
        }
    }
   

    &_close {
        font-size: 1.2rem;
        font-weight: 800;
        transform: translate(-10px,40px);
        background-color: var(--body-fg);
        color: var(--accent);
        border-radius: 100%;
        width: 32px;
        height: 32px;
        border: 3px var(--accent) solid;
        transition: all 0.5s ease-in-out;
        z-index: 10000;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
    }
    &_close:hover {
        color: var(--text-color);
        border: 3px var(--text-color) solid;
    }
    &_spin-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.proyect-card:hover > div > img {
    width: 95%;

}
.modal {
    position: fixed;
    z-index: 1000;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856); /* Black w/ opacity */
    overflow-y: auto;

    scroll-behavior: smooth;
    &_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        height: 100vh;
    }
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
  }