.about-me {
  box-sizing: border-box;
  padding: 125px 0;
  &_header {
    box-sizing: border-box;
  }
  &_plus {
    color: var(--decor);
    margin-right: 10px;
  }
  &_bar {
    width: 50px;
    height: 7px;
    background: var(--decor);
    position: absolute;
    margin: 15px 0 0 0;
    border-radius: 5px;
    animation: bar 3s linear 2s infinite alternate;
  }
  &_content {
    margin-top: 85px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  &_circle {
    max-width: 453px;
 
  }
  &_profile-image {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    width: 100%;
  }
  &_list {
    width: 50%;

    &_item {
      display: flex;
      gap: 10px;
      margin-bottom: 25px;
      list-style: none;
      &_text {
        letter-spacing: 0.36px;
        font: normal normal normal 1.4rem Lato;
      }
      &_arrow {
        color: var(--accent);
      }
      &_bold {
        font-weight: 800;
      }
    }
  }
  &_download {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &_btn {
      margin-top: 20px;
      background-color: var(--accent);
      color: var(--text-color);
      border-radius: 20px;
      font-weight: 600;
      font-size: 1.5rem;
      padding: 10px 20px;
    }
  }
  @media (max-width: 980px) {
    &_list {
      width: 100%;
    }
    &_content {
      justify-content: center;
    }
  }
}
